{% extends 'base.html' %}

{% block content %}
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-sm-12">
      <div id="map" style="height: 400px;"></div>
    </div>
  </div>
  <script>
    var map = L.map('map').setView([-7.382097, 108.147784], 16);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 20,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    {% for location in locations %}
      var marker = L.marker([{{ location.latitude }}, {{ location.longtitude }}]).addTo(map);
      marker.bindPopup("Description: {{ location.description }}")
    {% endfor %}
  </script>
{% endblock %}